# Inference
transformers
diffusers
accelerate

# Quantization
bitsandbytes

# llama-cpp-python
diskcache

# onnx
onnxruntime-gpu

# InternVL2
sentencepiece

# Ovis 2.5
# triton version 3.4 for torch 2.8
triton-windows<3.5; platform_system == "Windows"

# YOLO
ultralytics
onnx

# BriaAI RMBG
kornia

# InSPyReNet rembg
transparent-background

# Image Upscaling
spandrel
spandrel_extra_arches
