# GUI
PySide6
superqt

# Image
opencv-python
pillow  # File type support wider than opencv's
numpy

# Inter-process communication
msgpack

# Inference
transformers>=4.45.0
torch
torchvision
accelerate
#flash_attn # requires packaging/wheel to be already installed, postponing

# flash_attn prerequisites
packaging
wheel

# Quantization
bitsandbytes

# llama-cpp-python
diskcache
typing-extensions
jinja2

# WD Tags
pandas

# InternVL2
timm
sentencepiece
