# Inference
transformers
accelerate

# Quantization
bitsandbytes

# llama-cpp-python
diskcache

# onnx
onnxruntime-gpu
protobuf
humanfriendly

# InternVL2
timm
sentencepiece
einops

# YOLO
ultralytics
onnx

# BriaAI RMBG
kornia

# InSPyReNet rembg
transparent-background

# Image Upscaling
spandrel
spandrel_extra_arches
