# Install llama-cpp-python from fork: https://github.com/JamePeng/llama-cpp-python

# llama-cpp-python 0.3.41
# Linux, CUDA 13.1
https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.41-cu131-linux-20260708/llama_cpp_python-0.3.41+cu131-cp310-cp310-linux_x86_64.whl; platform_system == "Linux" and python_version == "3.10"
https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.41-cu131-linux-20260708/llama_cpp_python-0.3.41+cu131-cp311-cp311-linux_x86_64.whl; platform_system == "Linux" and python_version == "3.11"
https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.41-cu131-linux-20260708/llama_cpp_python-0.3.41+cu131-cp312-cp312-linux_x86_64.whl; platform_system == "Linux" and python_version == "3.12"
https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.41-cu131-linux-20260708/llama_cpp_python-0.3.41+cu131-cp313-cp313-linux_x86_64.whl; platform_system == "Linux" and python_version == "3.13"
https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.41-cu131-linux-20260708/llama_cpp_python-0.3.41+cu131-cp314-cp314-linux_x86_64.whl; platform_system == "Linux" and python_version == "3.14"

# Windows, CUDA 13.0
https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.41-cu130-win-20260707/llama_cpp_python-0.3.41+cu130-cp310-cp310-win_amd64.whl; platform_system == "Windows" and python_version == "3.10"
https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.41-cu130-win-20260707/llama_cpp_python-0.3.41+cu130-cp311-cp311-win_amd64.whl; platform_system == "Windows" and python_version == "3.11"
https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.41-cu130-win-20260707/llama_cpp_python-0.3.41+cu130-cp312-cp312-win_amd64.whl; platform_system == "Windows" and python_version == "3.12"
https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.41-cu130-win-20260707/llama_cpp_python-0.3.41+cu130-cp313-cp313-win_amd64.whl; platform_system == "Windows" and python_version == "3.13"
https://github.com/JamePeng/llama-cpp-python/releases/download/v0.3.41-cu130-win-20260707/llama_cpp_python-0.3.41+cu130-cp314-cp314-win_amd64.whl; platform_system == "Windows" and python_version == "3.14"
